Repository andimclean/xcfreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(xcfreader): correct ParsedRGB field name from greed to green
  packages/xcfreader/src/gimpparser.ts
  packages/xcfreader/src/lib/xcf-parsers.ts
  packages/xcfreader/src/types/index.ts
Due: prettier --write, eslint --fix

fix: move bundled dependencies to devDependencies for self-contained packages
  packages/ha-xcfimage-card/package.json
  packages/ui-xcfimage/package.json
Due: prettier --write

chore: enhance Dependabot, add Changesets, and fix package CHANGELOG
  .changeset/README.md
  .changeset/config.json
  .github/dependabot.yml
  package-lock.json
  package.json
  packages/xcfreader/CHANGELOG.md
Due: prettier --write

fix: resolve all ESLint errors with proper environment configuration
  calculate-total-coverage.mjs
  eslint.config.mjs
  package-lock.json
  package.json
  packages/ha-xcfimage-card/src/ha-xcfimage-card-editor.ts
  packages/ha-xcfimage-card/src/ha-xcfimage-card.ts
Due: prettier --write, eslint --fix

perf(xcfreader): replace binary-parser with custom BinaryReader
  BINARY-READER-MIGRATION.md
  BUNDLE-SIZE-ANALYSIS.md
  CHANGELOG.md
  MIGRATION-RESULTS.md
  packages/xcfreader/package.json
  packages/xcfreader/src/gimpparser.ts
  packages/xcfreader/src/lib/binary-reader.ts
  packages/xcfreader/src/lib/xcf-parsers.ts
Due: prettier --write, eslint --fix

chore: add stricter TypeScript config and commit linting
  .husky/commit-msg
  commitlint.config.mjs
  package-lock.json
  package.json
  packages/ha-xcfimage-card/tsconfig.json
  packages/xcfreader/tsconfig.json
  tsconfig.json
Due: prettier --write, eslint --fix

docs: complete security policy with GitHub reporting only
  SECURITY.md
Due: prettier --write

feat: add package validation, provenance, and fix TypeScript strict errors
  .changeset/config.json
  .github/CONTRIBUTING.md
  package.json
  packages/ha-xcfimage-card/src/ha-xcfimage-card-editor.ts
  packages/ha-xcfimage-card/src/ha-xcfimage-card.ts
  packages/ui-xcfimage/package.json
  packages/ui-xcfimage/src/gpp-xcfimage.ts
  packages/xcfreader/package.json
  packages/xcfreader/src/gimpparser.ts
  packages/xcfreader/src/lib/xcf-validator.ts
  packages/xcfreader/src/lib/xcfcompositer.ts
  packages/xcfreader/src/lib/xcfdataimage.ts
  packages/xcfreader/src/lib/xcfpngimage.ts
  packages/xcfreader/src/tests/08-get-layer-by-name.ts
  packages/xcfreader/src/tests/11-browser-exports.ts
  packages/xcfreader/src/tests/14-grayscale-support.ts
  packages/xcfreader/src/tests/15-indexed-color-support.ts
  packages/xcfreader/src/tests/16-fullcolour-support.ts
  packages/xcfreader/src/tests/27-v012-format.ts
  packages/xcfreader/src/tests/unit/24-property-parsing.ts
  packages/xcfreader/src/tests/unit/25-layer-hierarchy.ts
  scripts/validate-packages.mjs
Due: prettier --write, eslint --fix

docs: update changelog and documentation for BinaryReader migration
  .github/copilot-instructions.md
  CHANGELOG.md
Due: prettier --write

feat: add SBOM generation, package export validation, and CI commit linting
  .github/CONTRIBUTING.md
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .gitignore
  package-lock.json
  package.json
Due: prettier --write

docs: update CHANGELOG and CONTRIBUTING with recent tooling improvements
  .github/CONTRIBUTING.md
  CHANGELOG.md
Due: prettier --write

perf(xcfreader): Phase 2 rendering optimizations - 16% improvement
  CHANGELOG.md
  packages/xcfreader/benchmark-phase2.mjs
  packages/xcfreader/readme.md
  packages/xcfreader/src/gimpparser.ts
  packages/xcfreader/src/lib/xcfcompositer.ts
  readme.md
Due: prettier --write, eslint --fix

perf: eliminate Buffer polyfills, use native browser APIs
  package-lock.json
  packages/ui-xcfimage/esbuild.config.mjs
  packages/xcfreader/esbuild.config.mjs
  packages/xcfreader/package.json
  packages/xcfreader/src/gimpparser.ts
  packages/xcfreader/src/lib/binary-reader.ts
  packages/xcfreader/src/lib/xcf-parsers.ts
  packages/xcfreader/src/lib/xcf-validator.ts
  packages/xcfreader/src/types/index.ts
Due: prettier --write, eslint --fix

perf(xcfreader): Phase 1 rendering optimizations - 11% improvement
  packages/xcfreader/src/gimpparser.ts
  packages/xcfreader/src/lib/xcfdataimage.ts
  packages/xcfreader/src/lib/xcfpngimage.ts
  packages/xcfreader/src/types/index.ts
Due: prettier --write, eslint --fix

perf(xcfreader): fix critical DataView allocation overhead in rendering
  .lintstagedrc.json
  CHANGELOG.md
  CLAUDE.md
  packages/xcfreader/CHANGELOG.md
  packages/xcfreader/src/gimpparser.ts
Due: prettier --write, eslint --fix

perf: optimize bundle sizes with minification, code splitting, and ES2022
  BUNDLE_OPTIMIZATION.md
  OPTIMIZATION_SUMMARY.md
  analyze-bundles.mjs
  packages/ha-xcfimage-card/README.md
  packages/ha-xcfimage-card/esbuild.config.mjs
  packages/ha-xcfimage-card/package.json
  packages/ha-xcfimage-card/src/ha-xcfimage-card.ts
  packages/ui-xcfimage/README.md
  packages/ui-xcfimage/esbuild.config.mjs
  packages/xcfreader/esbuild.config.mjs
  readme.md
Due: prettier --write, eslint --fix

chore: update coverage badge [skip ci]
  coverage-badge.svg
Due: none

feat(vscode-xcfviewer): add VS Code extension for XCF file viewing
  .github/workflows/test-vscode-extension.yml
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/tasks.json
  package-lock.json
  package.json
  packages/vscode-xcfviewer/.gitignore
  packages/vscode-xcfviewer/.mocharc.json
  packages/vscode-xcfviewer/.vscode/launch.json
  packages/vscode-xcfviewer/.vscode/tasks.json
  packages/vscode-xcfviewer/.vscodeignore
  packages/vscode-xcfviewer/CHANGELOG.md
  packages/vscode-xcfviewer/DEBUG_GUIDE.md
  packages/vscode-xcfviewer/QUICKSTART.md
  packages/vscode-xcfviewer/QUICK_DEBUG.md
  packages/vscode-xcfviewer/README.md
  packages/vscode-xcfviewer/SETUP.md
  packages/vscode-xcfviewer/TEST_SUMMARY.md
  packages/vscode-xcfviewer/esbuild.config.mjs
  packages/vscode-xcfviewer/eslint.config.mjs
  packages/vscode-xcfviewer/package.json
  packages/vscode-xcfviewer/src/extension.ts
  packages/vscode-xcfviewer/src/layerTreeProvider.ts
  packages/vscode-xcfviewer/src/test/README.md
  packages/vscode-xcfviewer/src/test/fixtures/createTestXcf.ts
  packages/vscode-xcfviewer/src/test/runTest.ts
  packages/vscode-xcfviewer/src/test/suite/extension.test.ts
  packages/vscode-xcfviewer/src/test/suite/index.ts
  packages/vscode-xcfviewer/src/test/suite/layerTreeProvider.test.ts
  packages/vscode-xcfviewer/src/test/suite/util.test.ts
  packages/vscode-xcfviewer/src/test/suite/xcfEditorProvider.test.ts
  packages/vscode-xcfviewer/src/util.ts
  packages/vscode-xcfviewer/src/xcfEditorProvider.ts
  packages/vscode-xcfviewer/tsconfig.json
  packages/vscode-xcfviewer/tsconfig.test.json
  readme.md
Due: prettier --write, eslint --fix

chore: add temporary test files to gitignore
  .gitignore
Due: none

fix(vscode-xcfviewer): use flat layer indices matching HA package
  packages/vscode-xcfviewer/src/layerTreeProvider.ts
  packages/vscode-xcfviewer/src/xcfEditorProvider.ts
Due: prettier --write, eslint --fix

fix(vscode-xcfviewer): properly clear layer panel when switching editors
  packages/vscode-xcfviewer/src/extension.ts
  packages/vscode-xcfviewer/src/xcfEditorProvider.ts
Due: prettier --write, eslint --fix

feat(xcfreader,vscode-xcfviewer): implement layer visibility toggling
  packages/vscode-xcfviewer/esbuild.config.mjs
  packages/vscode-xcfviewer/src/layerTreeProvider.ts
  packages/vscode-xcfviewer/src/xcfEditorProvider.ts
  packages/xcfreader/src/gimpparser.ts
Due: prettier --write, eslint --fix

chore: release packages
  packages/ha-xcfimage-card/CHANGELOG.md
  packages/ha-xcfimage-card/package.json
  packages/ui-xcfimage/CHANGELOG.md
  packages/ui-xcfimage/package.json
  packages/xcfreader/CHANGELOG.md
  packages/xcfreader/package.json
Due: prettier --write

chore: update package-lock.json
  package-lock.json
Due: prettier --write

chore(vscode-xcfviewer): prepare extension for marketplace publication
  packages/vscode-xcfviewer/.vscodeignore
  packages/vscode-xcfviewer/LICENSE
  packages/vscode-xcfviewer/package.json
Due: prettier --write

fix(vscode-xcfviewer): update test to use new publisher ID
  packages/vscode-xcfviewer/src/test/suite/extension.test.ts
Due: prettier --write, eslint --fix

feat(docs): add architecture documentation and bundle size analysis
  .bundle-size-baseline.json
  .github/workflows/test.yml
  ARCHITECTURE.md
  package.json
  readme.md
  scripts/check-bundle-size.mjs
Due: prettier --write, eslint --fix

feat(tooling): add bundle analysis, optimize hooks, complete devcontainer
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .github/CONTRIBUTING.md
  .gitignore
  docs/BUNDLE-ANALYSIS-GUIDE.md
  docs/BUNDLE-VISUALIZATION-EXAMPLE.md
  package-lock.json
  package.json
  scripts/analyze-bundles.mjs
Due: prettier --write, eslint --fix

feat(ng-xcfimage): add Jest tests and fix reactive loop in component
  eslint.config.mjs
  package-lock.json
  package.json
  packages/ng-xcfimage/jest.config.cjs
  packages/ng-xcfimage/package.json
  packages/ng-xcfimage/setup-jest.ts
  packages/ng-xcfimage/src/__mocks__/xcfreader-browser.ts
  packages/ng-xcfimage/src/lib/xcf-fetch.service.spec.ts
  packages/ng-xcfimage/src/lib/xcf-image.component.spec.ts
  packages/ng-xcfimage/src/lib/xcf-image.component.ts
  packages/ng-xcfimage/tsconfig.spec.json
Due: prettier --write, eslint --fix

chore(ng-xcfimage): prepare package for npm publication
  package-lock.json
  package.json
  packages/ng-xcfimage/LICENSE
  packages/ng-xcfimage/README.md
  packages/ng-xcfimage/ng-package.json
  packages/ng-xcfimage/package.json
  packages/ng-xcfimage/src/lib/xcf-fetch.service.ts
  packages/ng-xcfimage/src/lib/xcf-image.types.ts
  packages/ng-xcfimage/src/public-api.ts
  packages/ng-xcfimage/tsconfig.lib.json
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{ts,js,mjs}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{ts,js,mjs}
